DEBUG=True


DATABASE_NAME=ai_documents
DATABASE_USER=admin
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=5432


REDIS_HOST=localhost
REDIS_PORT=6379


OPENAI_API_KEY=<your-key>


AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=